body{
    margin:0;
    padding:0;
    background-color: rgb(41, 180, 240);    
}
#countdown{
    display: flex;
    justify-content: center;
    padding:20%;
    color:rgb(244, 15, 15) ;
    text-align: center;
    text-transform: capitalize;
    font-size: 500%;
}